.card {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--gray-dark);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 17vw;
  justify-content: space-between;
  margin-top: 0;
  min-height: 67px;
  opacity: 1;
  width: 12vw;
}
@media (min-height: 600px) {
  .card {
    min-height: 73px;
  }
}
@media (min-width: 376px) {
  .card {
    height: 68px;
    width: 50px;
  }

  @media (min-height: 600px) {
    .card {
      font-size: 1.2rem;
      height: 73px;
      margin-top: 5px;
    }
  }
}
@media (min-width: 768px) {
  @media (min-height: 600px) {
    .card {
      width: 55px;
    }
  }
}
@media (min-width: 992px) {
  @media (min-height: 600px) {
    .card {
      font-size: 1.3rem;
      height: 88px;
      width: 73px;
    }
  }
}
.card[data-suit="0"],
.card[data-suit="3"] {
  color: var(--black);
}
.card[data-suit="1"],
.card[data-suit="2"] {
  color: var(--card-suit-red);
}

.card .rank {
  display: flex;
  justify-content: center;
}
.card .rank-bot,
.card .rank-top {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 992px) {
  @media (min-height: 600px) {
    .card .rank-bot,
    .card .rank-top {
      padding-top: 2px;
    }
  }
}
.card .suit {
  display: flex;
  justify-content: center;
}

.card.back {
  background-color: var(--card-back);
  border: 1px solid var(--white);
  transition: all 50ms;
}
.card.back .rank,
.card.back .suit {
  display: none;
}
.card.empty {
  background-color: var(--gray-light2);
  border: 1px solid transparent;
}
.card.disabled {
  background-color: var(--disabled);
  opacity: 0.3;
}

.card-label {
  font-family: monospace;
  font-size: 0.65rem;
  margin: 5px 0 0;
  text-transform: uppercase;
}
@media (min-width: 376px) {
  .card-label {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  @media (min-height: 600px) {
    .card-label {
      font-size: 0.9rem;
    }
  }
}
@media (min-width: 992px) {
  @media (min-height: 600px) {
    .card-label {
      font-size: 1rem;
    }
  }
}
