#tableau {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 18px);
  height: 125px;
  margin: 0 auto;
  max-width: 330px;
  transition: all 400ms;
  width: 100%;
}
@media (min-height: 500px) {
  #tableau {
    height: 155px;
  }
}
@media (min-width: 376px) {
  #tableau {
    grid-template-rows: repeat(5, 34px);
    margin: 0 auto;
    max-width: 365px;
  }
  @media (min-height: 500px) {
    #tableau {
      height: 180px;
    }
  }
}
@media (min-width: 768px) {
  @media (min-height: 500px) {
    #tableau {
      height: 185px;
      max-width: 430px;
    }
  }
}
@media (min-width: 992px) {
  @media (min-height: 500px) {
    #tableau {
      grid-template-rows: repeat(5, 46px);
      height: 210px;
      margin: 10px auto;
      max-width: 575px;
    }
  }
}
#tableau .col {
  margin: 0 auto;
}
#tableau .col .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  position: relative;
}
#tableau .col .card.disabled {
  cursor: not-allowed;
}
#tableau .col .card.removed,
#tableau .col .card[data-status="0"] {
  opacity: 0;
  z-index: -9999 !important;
}
#tableau .col .card.available:not(.disabled):hover,
#tableau .col .card.available:not(.disabled):active,
#tableau .col .card.available:not(.disabled):focus {
  background-color: #ebf7ff;
  border: 1px dashed var(--dark-color);
  cursor: pointer;
}
@media (hover: hover) {
  #tableau .col .card.removed:hover {
    cursor: default;
  }
  #tableau .col .card:not(.available):not(.disabled):hover {
    background-color: var(--gray);
    cursor: not-allowed;
  }
}
#tableau .col .card:nth-of-type(1) {
  z-index: 6;
}
#tableau .col .card:nth-of-type(2) {
  top: -55px;
  z-index: 7;
}
#tableau .col .card:nth-of-type(3) {
  top: -110px;
  z-index: 8;
}
#tableau .col .card:nth-of-type(4) {
  top: -165px;
  z-index: 9;
}
#tableau .col .card:nth-of-type(5) {
  top: -220px;
  z-index: 10;
}
@media (min-width: 992px) {
  @media (min-height: 500px) {
    #tableau .col .card:nth-of-type(2) {
      top: -65px;
      z-index: 7;
    }
    #tableau .col .card:nth-of-type(3) {
      top: -130px;
    }
    #tableau .col .card:nth-of-type(4) {
      top: -195px;
    }
    #tableau .col .card:nth-of-type(5) {
      top: -260px;
    }
  }
}

#tableau-count {
  display: inline-block;
  margin: 0 auto;
  min-height: 20px;
  text-align: center;
  width: 100%;
}
