#tableau {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100px;
  margin: 0 auto;
  max-width: 330px;
  transition: all 400ms;
  width: 100%;
}
@media (min-width: 375px) {
  #tableau {
    height: 175px;
    margin: 5px auto 0;
    max-width: 365px;
  }
}
@media (min-width: 768px) {
  #tableau {
    max-width: 430px;
  }
}
@media (min-width: 992px) {
  #tableau {
    height: 210px;
    margin: 10px auto;
    max-width: 575px;
  }

  @media (min-height: 500px) {
    #tableau {
      height: 225px;
    }
  }
}
#tableau .col .card {
  position: relative;
}
@media (hover: hover) {
  #tableau .col .card.available:hover {
    background-color: #ebf7ff;
    border: 1px dashed var(--dark-color);
    cursor: pointer;
  }
  #tableau .col .card.removed:hover {
    cursor: default;
  }
  #tableau .col .card:not(.available):hover {
    background-color: var(--gray);
    cursor: not-allowed;
  }
}
#tableau .col .card:nth-of-type(1) {
  z-index: 6;
}
#tableau .col .card:nth-of-type(2) {
  top: -55px;
  z-index: 7;
}
#tableau .col .card:nth-of-type(3) {
  top: -110px;
  z-index: 8;
}
#tableau .col .card:nth-of-type(4) {
  top: -165px;
  z-index: 8;
}
#tableau .col .card:nth-of-type(5) {
  top: -220px;
  z-index: 10;
}
@media (min-width: 992px) {
  #tableau .col .card:nth-of-type(2) {
    top: -65px;
    z-index: 7;
  }
  #tableau .col .card:nth-of-type(3) {
    top: -130px;
  }
  #tableau .col .card:nth-of-type(4) {
    top: -195px;
  }
  #tableau .col .card:nth-of-type(5) {
    top: -260px;
  }
}

#tableau-count {
  display: inline-block;
  margin: 0 auto;
  min-height: 20px;
  text-align: center;
  width: 100%;
}
