#user-cards {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 100px;
  justify-content: center;
  margin: 5px auto 0;
  padding-top: 5px;
}
#user-cards.disabled {
  background-color: var(--gray-light2);
}
@media (min-width: 768px) {
  @media (min-height: 600px) {
    #user-cards {
      background-color: var(--gray-light);
      gap: 1rem;
      height: 130px;
      margin: 10px auto 0;
    }
  }
}
@media (max-width: 375px) {
  #user-cards .card {
    max-width: 50px;
    min-width: 40px;
  }
}

#base,
#stock {
  display: grid;
  justify-items: center;
  opacity: 1;
}

#base .card,
#stock .card {
  grid-column: 1;
  grid-row: 1;
}

#base .card.disabled,
#stock .card.disabled {
  cursor: not-allowed;
  opacity: 1;
}

#base .card:nth-last-child(2) {
  background-color: var(--gray);
}

#stock .card > * {
  display: none;
}
#stock .card:not(.empty):hover {
  background-color: #33749f;
  cursor: pointer;
}
