:root {
  --animate-duration: 150ms;
  --animate-delay: 0s;
  --animate-repeat: 1;
}

.animate__animated.animate__bounce,
.animate__animated.animate__flash,
.animate__animated.animate__fadeInDown,
.animate__animated.animate__fadeInUp,
.animate__animated.animate__fadeOutDown,
.animate__animated.animate__flipInY,
.animate__animated.animate__rotateOutDownLeft,
.animate__animated.animate__shakeX,
.animate__animated.animate__tada,
.animated_animated.animate__zoomIn {
  --animate-delay: 0s;
}

/* nebyooaps slider */
header .menu-left #nav-overlay #nav-content {
  animation: SlideRight 200ms;
}

#tableau .card {
  --animate-delay: 0ms;
  --animate-duration: 100ms;
  transition: 10ms;
}

#tableau .card.animate__animated.animate__fadeInDown {
  --animate-delay: 0ms;
  --animate-duration: 200ms;
}
#tableau .card.animate__animated.animate__flipInY {
  --animate-delay: 0ms;
  --animate-duration: 1000ms;
}

#tableau #col0 .card.animate__animated.animate__fadeInDown,
#tableau #col0 .card.animate__animated.animate__slideInDown {
  --animate-delay: 100ms;
}
#tableau #col1 .card.animate__animated.animate__fadeInDown,
#tableau #col1 .card.animate__animated.animate__slideInDown {
  --animate-delay: 400ms;
}
#tableau #col2 .card.animate__animated.animate__fadeInDown,
#tableau #col2 .card.animate__animated.animate__slideInDown {
  --animate-delay: 700ms;
}
#tableau #col3 .card.animate__animated.animate__fadeInDown,
#tableau #col3 .card.animate__animated.animate__slideInDown {
  --animate-delay: 1000ms;
}
#tableau #col4 .card.animate__animated.animate__fadeInDown,
#tableau #col4 .card.animate__animated.animate__slideInDown {
  --animate-delay: 1300ms;
}
#tableau #col5 .card.animate__animated.animate__fadeInDown,
#tableau #col5 .card.animate__animated.animate__slideInDown {
  --animate-delay: 1600ms;
}
#tableau #col6 .card.animate__animated.animate__fadeInDown,
#tableau #col6 .card.animate__animated.animate__slideInDown {
  --animate-delay: 1900ms;
}

#tableau .card[data-row="4"].animate__animated.animate__fadeInDown,
#tableau .card[data-row="4"].animate__animated.animate__slideInDown {
  --animate-duration: 200ms;
}
#tableau .card[data-row="3"].animate__animated.animate__fadeInDown,
#tableau .card[data-row="3"].animate__animated.animate__slideInDown {
  --animate-duration: 300ms;
}
#tableau .card[data-row="2"].animate__animated.animate__fadeInDown,
#tableau .card[data-row="2"].animate__animated.animate__slideInDown {
  --animate-duration: 400ms;
}
#tableau .card[data-row="1"].animate__animated.animate__fadeInDown,
#tableau .card[data-row="1"].animate__animated.animate__slideInDown {
  --animate-duration: 500ms;
}
#tableau .card[data-row="0"].animate__animated.animate__fadeInDown,
#tableau .card[data-row="0"].animate__animated.animate__slideInDown {
  --animate-duration: 600ms;
}

/* remove tableau card to put on base */
#tableau .card.animate__animated.animate__fadeOutDown {
  --animate-duration: 350ms;
}
/* invalud tableau card removal */
#tableau .card.animate__animated.animate__shakeX {
  --animate-duration: 100ms;
}

#stock {
  --animate-delay: 0s;
}

#base .card {
  --animate-delay: 0s;
  --animate-duration: 700ms;
}

/* game-over modal */
.score-animation {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.score-animation .score {
  --animate-delay: 200ms;
  --animate-duration: 2s;
  color: var(--bright-color);
  font-size: 4rem;
  text-shadow: 2px 2px 0 var(--black);
}

/* combo counter */
#combo.show {
  --animate-duration: 250ms;
}
#combo.show.animate__animated.animate__backInUp {
  --animate-delay: 0ms;
  --animate-duration: 500ms;
  display: flex;
}
#combo.show.animate__animated.animate__fadeOut {
  --animate-delay: 1s;
  --animate-duration: 500ms;
  display: flex;
}
#combo.show.animate__animated.animate__hinge {
  --animate-delay: 0ms;
  --animate-duration: 750ms;
  display: flex;
}

@keyframes SlideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes SlideLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
