:root {
  --animate-duration: 150ms;
  --animate-delay: 0s;
  --animate-repeat: 1;
}

.card {
  --animate-delay: 1000ms;
  --animate-duration: 1000ms;
}

#tableau #col0 .card[data-row='0'].animate__animated.animate__slideInDown {
  --animate-duration: 50ms;
}
#tableau #col0 .card[data-row='1'].animate__animated.animate__slideInDown {
  --animate-duration: 100ms;
}
#tableau #col0 .card[data-row='2'].animate__animated.animate__slideInDown {
  --animate-duration: 150ms;
}
#tableau #col0 .card[data-row='3'].animate__animated.animate__slideInDown {
  --animate-duration: 200ms;
}
#tableau #col0 .card[data-row='4'].animate__animated.animate__slideInDown {
  --animate-duration: 250ms;
}

#tableau #col1 .card[data-row='0'].animate__animated.animate__slideInDown {
  --animate-duration: 300ms;
}
#tableau #col1 .card[data-row='1'].animate__animated.animate__slideInDown {
  --animate-duration: 350ms;
}
#tableau #col1 .card[data-row='2'].animate__animated.animate__slideInDown {
  --animate-duration: 400ms;
}
#tableau #col1 .card[data-row='3'].animate__animated.animate__slideInDown {
  --animate-duration: 450ms;
}
#tableau #col1 .card[data-row='4'].animate__animated.animate__slideInDown {
  --animate-duration: 500ms;
}

#tableau #col2 .card[data-row='0'].animate__animated.animate__slideInDown {
  --animate-duration: 550ms;
}
#tableau #col2 .card[data-row='1'].animate__animated.animate__slideInDown {
  --animate-duration: 600ms;
}
#tableau #col2 .card[data-row='2'].animate__animated.animate__slideInDown {
  --animate-duration: 650ms;
}
#tableau #col2 .card[data-row='3'].animate__animated.animate__slideInDown {
  --animate-duration: 700ms;
}
#tableau #col2 .card[data-row='4'].animate__animated.animate__slideInDown {
  --animate-duration: 750ms;
}

#tableau #col3 .card[data-row='0'].animate__animated.animate__slideInDown {
  --animate-duration: 800ms;
}
#tableau #col3 .card[data-row='1'].animate__animated.animate__slideInDown {
  --animate-duration: 850ms;
}
#tableau #col3 .card[data-row='2'].animate__animated.animate__slideInDown {
  --animate-duration: 900ms;
}
#tableau #col3 .card[data-row='3'].animate__animated.animate__slideInDown {
  --animate-duration: 950ms;
}
#tableau #col3 .card[data-row='4'].animate__animated.animate__slideInDown {
  --animate-duration: 1000ms;
}

#tableau #col4 .card[data-row='0'].animate__animated.animate__slideInDown {
  --animate-duration: 1050ms;
}
#tableau #col4 .card[data-row='1'].animate__animated.animate__slideInDown {
  --animate-duration: 1100ms;
}
#tableau #col4 .card[data-row='2'].animate__animated.animate__slideInDown {
  --animate-duration: 1150ms;
}
#tableau #col4 .card[data-row='3'].animate__animated.animate__slideInDown {
  --animate-duration: 1200ms;
}
#tableau #col4 .card[data-row='4'].animate__animated.animate__slideInDown {
  --animate-duration: 1250ms;
}

#tableau #col5 .card[data-row='0'].animate__animated.animate__slideInDown {
  --animate-duration: 1300ms;
}
#tableau #col5 .card[data-row='1'].animate__animated.animate__slideInDown {
  --animate-duration: 1350ms;
}
#tableau #col5 .card[data-row='2'].animate__animated.animate__slideInDown {
  --animate-duration: 1400ms;
}
#tableau #col5 .card[data-row='3'].animate__animated.animate__slideInDown {
  --animate-duration: 1450ms;
}
#tableau #col5 .card[data-row='4'].animate__animated.animate__slideInDown {
  --animate-duration: 1500ms;
}

#tableau #col6 .card[data-row='0'].animate__animated.animate__slideInDown {
  --animate-duration: 1550ms;
}
#tableau #col6 .card[data-row='1'].animate__animated.animate__slideInDown {
  --animate-duration: 1600ms;
}
#tableau #col6 .card[data-row='2'].animate__animated.animate__slideInDown {
  --animate-duration: 1650ms;
}
#tableau #col6 .card[data-row='3'].animate__animated.animate__slideInDown {
  --animate-duration: 1700ms;
}
#tableau #col6 .card[data-row='4'].animate__animated.animate__slideInDown {
  --animate-duration: 1750ms;
}

header .menu-left #nav-overlay #nav-content {
  animation: SlideRight 200ms;
}

@keyframes SlideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes SlideLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
