body.replay-mode {
  background-color: var(--gray-light1);
  color: var(--black);

  a {
    color: var(--black);
  }

  code {
    background-color: var(--gray-light2);
  }

  button {
    &.help {
      background-color: var(--white);
      border: 1px solid var(--black);
    }
  }

  header {
    background-color: var(--gray-light3);

    .menu-left {
      #nav-overlay {
        #nav-content {
          background-color: var(--black);

          a {
            color: var(--white);
          }

          .container {
            .nav-list {
              a {
                &:hover {
                  background-color: var(--base-color);
                }
              }
            }
          }

          #button-nav {
            img {
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(262deg)
                brightness(104%) contrast(96%);
            }
          }
        }
      }
    }
  }

  section#game {
    background-color: var(--gray-light2);

    #game-type {
      color: var(--gray-dark);

      .replay-label {
        display: block;
      }
    }
  }
}
