@import 'cards/card.css';
@import 'cards/tableau.css';
@import 'cards/user-cards.css';

@import 'common.css';
@import 'layout.css';
@import 'keyboard.css';
@import 'combo.css';

:root {
  --base-color: #996e52;
  --base-color2: #8e782e;
  --light-color: #c7b591;
  --vlight-color: #e2cfbc;
  --vvlight-color: #f4e0cb;
  --dark-color: #65412c;
  --bright-color: #f49c69;
  --bg-color: #ffc8ac;

  --debug-color: #715ec7;
  --debug-color-secondary: #dbbce2;
  --debug-color-light1: #e5e0ff;
  --debug-color-light2: #e8e3ff;
  --debug-color-light3: #ded8ff;
  --debug-color-light4: #e3e0f3;
  --debug-color-light5: #e1ddf7;
  --debug-color-medium: #8c85ae;

  --black: #111111;
  --black-light: #3a3a3a;
  --white: #fafafa;
  --off-white: #f8f8f8;
  --gray: #e1e1e1;
  --gray-light: #f4f4f4;
  --gray-medium: #a7a7a7;
  --gray-dark: #787878;
  --gray-dark2: #535353;

  --shadow: #11111125;
  --shadow-dark: #11111125;
  --disabled: #b5b5b5;
  --marker-color: #222222;

  --window-win1: #5ec767;
  --window-win1-light: #e6f2e8;
  --window-win2: #51ac59;
  --window-skip1: #cec514;
  --window-skip1-light: #f1f1db;
  --window-lose1: #c75e5e;
  --window-lose1-light: #efdbdb;
  --window-lose2: #ad5151;
  --window-game-over-win: #d8e4d9;
  --window-game-over-lose: #e9dddd;

  --card-back: #2e678e;
  --card-suit-black: var(--black);
  --card-suit-red: #e71111;
}

@font-face {
  font-family: "Changa";
  src: url(https://fonts.neb.host/Changa/static/Changa-Regular.ttf);
}

@font-face {
  font-family: "Changa Bold";
  src: url(https://fonts.neb.host/Changa/static/Changa-Bold.ttf);
}

:root {
  font-family: "Changa", sans-serif;
  font-size: 16px;
}
