#combo-wrapper {
  display: flex;
  justify-content: center;
}
#combo {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
  display: none;
  flex-direction: column;
  font-size: 1rem;
  margin: 0 auto;
  max-height: 100px;
  max-width: 150px;
  min-width: 80px;
  position: absolute;
  top: 0;
  z-index: 10;
}
#combo .title {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--black);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--black);
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
#combo .text {
  font-size: 0.80em;
  text-align: center;
}
#combo .text.x.x2 {
  font-size: 0.85em;
  width: 90px;
}
#combo .text.x.x3 {
  font-size: 0.90em;
  width: 95px;
}
#combo .text.x.x4 {
  font-size: 0.95em;
  width: 100px;
}
#combo .text.x.x5 {
  font-size: 1.10em;
  width: 110px;
}
#combo .text.x.x6 {
  font-size: 1.20em;
  width: 120px;
}
#combo .text.x.x7 {
  font-size: 1.25em;
  width: 125px;
}
#combo .text.x.x8 {
  font-size: 1.30em;
  width: 130px;
}
#combo .text.x.x9 {
  font-size: 1.40em;
  width: 140px;
}
#combo .text.x.x10 {
  font-size: 1.50em;
  width: 150px;
}
