#settings {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input[type="range"] {
    max-width: 100px;
  }
  @media (min-width: 550px) {
    input[type="range"] {
      max-width: none;
    }
  }

  .setting-row {
    align-items: center;
    border-bottom: 1px solid var(--gray-dark);
    display: flex;
    justify-content: space-between;
    padding: 0;

    &:last-of-type {
      border-bottom: none;
    }

    .text {
      padding: 8px 8px 8px 0;

      .title {
        font-size: 18px;
      }

      .description {
        color: var(--gray-dark2);
        font-size: 12px;
      }
    }

    .control {
      align-items: center;
      display: flex;
      margin-left: 1em;

      .spacer {
        display: block;
        height: 30px;
        width: 30px;

        &:first-of-type {
          margin-left: 10px;
        }
      }

      span.spacer {
        width: 36px;
      }

      @media (hover: hover) {
        button:hover:not(.disabled),
        button:hover:not([disabled]) {
          background-color: var(--gray-dark);
          border: 1px solid var(--black);
          color: var(--white);
        }
      }
    }
  }
}
