.statistic-header {
  align-items: center;
  display: flex;
  font-size: 1.4em;
  font-variant-numeric: proportional-nums;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.05em;
  text-align: center;
}
.statistic-setupid {
  font-size: 0.75em;
}
.statistic-subheader {
  align-items: center;
  display: flex;
  font-size: 0.9em;
  font-variant-numeric: proportional-nums;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.05em;
  text-align: center;
}
.statistics {
  display: flex;
  gap: 5px;
  padding-bottom: 10px;
}
.statistics .statistic-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.statistics .statistic-container .statistic {
  align-items: center;
  display: flex;
  font-size: 36px;
  font-variant-numeric: proportional-nums;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  text-align: center;
}
.statistics .statistic-container .statistic-label {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: center;
  max-width: 85px;
  text-align: center;
}
